<section class="py-12 py-sm-24 position-relative overflow-hidden">
        <div class="container">
          <div class="mw-7xl align-items-center">
            <div class="row mx-auto">
              <div class="col-lg-5 col-xl-4 order-last order-lg-first"><img class="d-block w-100 mw-xl mx-auto" src="flaro-assets/images/cta/people.png" alt=""></div>
              <div class="col-lg-7 col-xl-8 mb-16 mb-lg-0 position-relative"><img class="position-absolute bottom-0 mb-12 end-0 me-n40" src="flaro-assets/images/cta/gradient3.svg" alt="">
                <div class="mw-xl mx-auto me-xl-0 position-relative">
                  <h1 class="h2 mb-10">Join &amp; build your startup successful</h1>
                  <div class="mw-md mb-10">
                    <div class="d-flex mb-5">
                      <div class="me-3">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <circle cx="10" cy="10" r="10" fill="#4F46E5"></circle>
                          <path d="M6 10.6667L8.66667 13.3333L14 8" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                      </div>
                      <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat enim.</p>
                    </div>
                    <div class="d-flex">
                      <div class="me-3">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <circle cx="10" cy="10" r="10" fill="#4F46E5"></circle>
                          <path d="M6 10.6667L8.66667 13.3333L14 8" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                      </div>
                      <p>Mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat enim est sit arina.</p>
                    </div>
                  </div>
                  <div class="input-group mw-xl mb-4 p-2 bg-white border border-dark rounded-4">
                    <input class="form-control border-0 bg-transparent" type="text" placeholder="Enter email to get started">
                    <button class="btn btn-primary rounded-3 fs-9 fw-bold text-uppercase" type="button">Join for free</button>
                  </div>
                  <div class="d-flex ps-2 align-items-center">
                    <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M7 10.25V11.75M2.5 14.75H11.5C12.3284 14.75 13 14.0784 13 13.25V8.75C13 7.92157 12.3284 7.25 11.5 7.25H2.5C1.67157 7.25 1 7.92157 1 8.75V13.25C1 14.0784 1.67157 14.75 2.5 14.75ZM10 7.25V4.25C10 2.59315 8.65685 1.25 7 1.25C5.34315 1.25 4 2.59315 4 4.25V7.25H10Z" stroke="#A1A1AA" stroke-width="1.5" stroke-linecap="round"></path>
                    </svg><span class="ms-2 fs-9 text-secondary mb-0">We don’t share or sell your email address publicly</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>