<div class="container position-relative">
          <h1 class="text-center h3 mb-16">Don't just take our word for it</h1>
          <div class="mw-7xl mx-auto">
            <div class="row mb-n6">
              <div class="col-12 col-md-6 col-lg-4 mb-6">
                <div class="d-flex flex-column h-100 p-6 bg-white bg-opacity-25 border rounded-4">
                  <div class="d-flex align-items-center mb-6">
                    <div><img src="flaro-assets/images/testimonials/avatar.png" alt=""></div>
                    <div class="ps-4">
                      <h6 class="mb-0">Jacob Jones</h6><span class="fs-9 text-secondary">@brooklysim</span>
                    </div>
                  </div>
                  <p class="mw-md fs-7 pb-6 mb-auto">If you haven’t tried out Flaro App yet, I would definitely recommend it for both designers and developers 🤙🏻</p><span class="fs-9 text-secondary">3 days ago</span>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4 mb-6">
                <div class="d-flex flex-column h-100 p-6 bg-white bg-opacity-25 border rounded-4">
                  <div class="d-flex align-items-center mb-6">
                    <div><img src="flaro-assets/images/testimonials/avatar2.png" alt=""></div>
                    <div class="ps-4">
                      <h6 class="mb-0">Wade Warren</h6><span class="fs-9 text-secondary">@brooklysim</span>
                    </div>
                  </div>
                  <p class="mw-md fs-7 pb-6 mb-auto">If you are thinking of a design partner to help you convert more customers, Flaro is a great choice.</p><span class="fs-9 text-secondary">3 days ago</span>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4 mb-6">
                <div class="d-flex flex-column h-100 p-6 bg-white bg-opacity-25 border rounded-4">
                  <div class="d-flex align-items-center mb-6">
                    <div><img src="flaro-assets/images/testimonials/avatar3.png" alt=""></div>
                    <div class="ps-4">
                      <h6 class="mb-0">Bessie Cooper</h6><span class="fs-9 text-secondary">@brooklysim</span>
                    </div>
                  </div>
                  <p class="mw-md fs-7 pb-6 mb-auto">We have built a few web apps using Flaro. It saves us a lot of time, because we don't have to build design features from scratch.</p><span class="fs-9 text-secondary">3 days ago</span>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4 mb-6">
                <div class="d-flex flex-column h-100 p-6 bg-white bg-opacity-25 border rounded-4">
                  <div class="d-flex align-items-center mb-6">
                    <div><img src="flaro-assets/images/testimonials/avatar4.png" alt=""></div>
                    <div class="ps-4">
                      <h6 class="mb-0">Esther Howard</h6><span class="fs-9 text-secondary">@brooklysim</span>
                    </div>
                  </div>
                  <p class="mw-md fs-7 pb-6 mb-auto">Wrike is great to make work visible and collaborative. People can pass tasks off as they complete their parts, allowing you to see the flow of work.</p><span class="fs-9 text-secondary">3 days ago</span>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4 mb-6">
                <div class="d-flex flex-column h-100 p-6 bg-white bg-opacity-25 border rounded-4">
                  <div class="d-flex align-items-center mb-6">
                    <div><img src="flaro-assets/images/testimonials/avatar5.png" alt=""></div>
                    <div class="ps-4">
                      <h6 class="mb-0">Albert Flores</h6><span class="fs-9 text-secondary">@brooklysim</span>
                    </div>
                  </div>
                  <p class="mw-md fs-7 pb-6 mb-auto">Ease of use and efficiency of design tools. The ability for the integrated marketing team to see all aspects of a project.</p><span class="fs-9 text-secondary">3 days ago</span>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4 mb-6">
                <div class="d-flex flex-column h-100 p-6 bg-white bg-opacity-25 border rounded-4">
                  <div class="d-flex align-items-center mb-6">
                    <div><img src="flaro-assets/images/testimonials/avatar6.png" alt=""></div>
                    <div class="ps-4">
                      <h6 class="mb-0">Jerome Bell</h6><span class="fs-9 text-secondary">@brooklysim</span>
                    </div>
                  </div>
                  <p class="mw-md fs-7 pb-6 mb-auto">Very very easy for customer information to get secured if all orders are on one device.</p><span class="fs-9 text-secondary">3 days ago</span>
                </div>
              </div>
            </div>
          </div>
        </div>